$primary-color-bg: rgb(121, 119, 119);
$secondary-color-bg: rgb(148, 147, 147);
$third-color-bg: rgb(60, 235, 153);
$forth-color-bg:  rgb(51, 199, 130);
$primary-color-font: white;
$secondary-color-font: red;
$third-color-font: rgb(6, 80, 22);


$primary-font-size: 30px;
$bold-font: 900;

$no-margin: 0;

%font-family {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

